/* ==========================================================================
   BLOCK - CARD
   ========================================================================== */

ul:has(> li.card) {
  width: 100%;
  container-type: inline-size;
}

.card {
  --card-padding: var(--space-m);

  font-weight: bold;
  padding: var(--card-padding);
  border: 3px solid var(--card-border-color);
  border-radius: var(--radius-s);
  background-color: var(--card-background-color);
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-s);
}

@container (min-width: 40rem) {
  .card {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
